$primary-color: #0033cc;
$secondary-color: #151e3c;
$socialMedia-color: #002ee5;
$grey-color: #999999;
$greySecondary: #cccccc;
$backgroundFooter-color: #152143;
$primary2-color: #0033ff;

$projectsBGcolor: black;
