@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext');
@import url('href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext');

$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Roboto', sans-serif;


* {
  font-family: $secondary-font;
}
